body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.large-text {
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.standard-text {
    font-size: 25px;
    margin: 0;
    padding: 0;
}
.input-container {
    margin: 20px;
}
input[type="text"], select {
    font-size: 25px;
    padding: 5px;
    text-align: center;
}
input[type="button"] {
    font-size: 25px;
    padding: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    color: yellow;
    border: 20px solid red;
}
th, td {
    padding: 0px;
}
td:first-child {
    width: 15%;
    text-align: center;
    font-size: 100px;
}
td:nth-child(2) {
    width: 70%;
    text-align: left;
    font-size: 50px;
}
td:nth-child(3) {
    width: 15%;
    text-align: right;
    font-size: 100px;
}
tr:not(:last-child) {
    border-bottom: 1px solid yellow;
}
/* Media Query for Mobile View */
@media (max-width: 768px) {
    .large-text, #haltepunkt-name {
        display: none;
    }
    .input-container {
        display: block; /* Stellen Sie sicher, dass der Input-Container angezeigt wird */
        margin-top: 20px; /* Fügen Sie einen Abstand oben hinzu, falls benötigt */
    }
    #stoerung-text {
        display: block; /* Stellen Sie sicher, dass Störungstext angezeigt wird */
        font-size: 20px; /* Passen Sie die Schriftgröße an, falls benötigt */
        color: red; /* Optional: Farbänderung zur Hervorhebung */
        padding: 10px; /* Zusätzlicher Abstand für bessere Lesbarkeit */
    }
    td:first-child {
        font-size: 50px;
    }
    td:nth-child(2) {
        font-size: 25px;
    }
    td:nth-child(3) {
        font-size: 50px;
    }
}


