body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.large-text {
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.standard-text {
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.input-container {
    margin: 20px;
}
input[type="text"], select {
    font-size: 25px;
    padding: 5px;
    text-align: center;
}
input[type="button"] {
    font-size: 25px;
    padding: 5px;
}
table {
    width: 86%;
    border-collapse: collapse;
    background-color: black;
    color: yellow;
    border: 10px solid red;
}
th, td {
    padding: 5px;
}
td:first-child {
    width: 20%; /* Angepasst, um mehr Platz zu schaffen */
    text-align: center;
    font-size: 30px; /* Angepasst für bessere Sichtbarkeit */
}
td:nth-child(2) {
    width: 45%; /* Angepasst, um mehr Platz zu schaffen */
    text-align: left;
    font-size: 20px; /* Angepasst für bessere Lesbarkeit */
}
td:nth-child(3) {
    width: 15%; /* Unverändert, sollte passend sein */
    text-align: right;
    font-size: 30px; /* Angepasst für bessere Sichtbarkeit */
}
tr:not(:last-child) {
    border-bottom: 1px solid yellow;
}
@media (max-width: 768px) {
    .large-text, #haltepunkt-name {
        display: none;
    }
    .input-container {
        display: block;
        margin-top: 20px;
    }
    #stoerung-text {
        display: block;
        font-size: 20px;
        color: red;
        padding: 10px;
    }
    td:first-child {
        font-size: 20px; /* Kleinere Schriftgröße für Mobile */
    }
    td:nth-child(2) {
        font-size: 15px; /* Kleinere Schriftgröße für Mobile */
    }
    td:nth-child(3) {
        font-size: 20px; /* Kleinere Schriftgröße für Mobile */
    }
}

.hidden {
    display: none;
}
